@{
    ViewData["Title"] = "Scarpe & Co";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>See our <a asp-controller="Shoes" asp-action="Index">catalogue</a> to discover the available shoes!</p>
</div>
