@model ShoesListModelView;

@{
    ViewData["Title"] = "Shoes Showcase";
}

<h1>Our Shoes</h1>

@if (TempData["Message"] != null)
{
    <div class="alert alert-dismissible fade show alert-info" role="alert">
        <span class="fw-bold">@TempData["Message"]</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    @if(Model.Shoes?.Count > 0)
    {
        foreach(var shoes in Model.Shoes)
        {
            <div class="col-3">
                <div class="card mb-4 rounded-3 overflow-hidden">
                    <a class="imgBox d-flex align-items-center" asp-controller="Shoes" asp-action="Details" asp-route-id="@shoes.Id">
                        <img src=@shoes.MainImage class="card-img-top" alt=@shoes.Name>
                    </a>
                    <div class="card-body">
                        <a class="card-title h5 text-decoration-none text-black" asp-controller="Shoes" asp-action="Details" asp-route-id="@shoes.Id">@shoes.Name</a>
                        <p class="card-text">€@shoes.Price</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
